
.marquee {
	width:400px;
	line-height: 50px;
	background-color: rgba(0, 0, 0, 0);
	color: #008700;
	white-space: nowrap;
	margin: 0 auto;
	}
.marquee p {
	display: inline-block;
	font-size: xx-large;
	font-family: 'Inconsolata', monospace;
	}

.values {
	display: inline-block;
	font-size: xx-large;
	font-family: 'Inconsolata', monospace;
	width:400px;
	line-height: 50px;
	background-color: rgba(0, 0, 0, 0);
	color: #008700;
	white-space: nowrap;
	margin: 0 auto;
	padding-left: 50%
	}
